<!--可通过ch.qos.logback.classic.Level查看所有日志级别-->
<!--尽量避免使用相对路径，可通过{user.dir}使用绝对路径-->
<configuration>
  <appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>

    <file>${user.dir}/logs/info.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${user.dir}/logs/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

      <!-- each file should be at most 20MB, keep 10 days worth of history, but at most 10GB -->
      <maxFileSize>20MB</maxFileSize>
      <maxHistory>10</maxHistory>
      <totalSizeCap>10GB</totalSizeCap>
    </rollingPolicy>

    <encoder>
      <pattern>[%-5level] %d %logger{15},%line [%thread] - %msg%n</pattern>
      <charset>UTF-8</charset> 
    </encoder>
  </appender>

  <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>

    <file>${user.dir}/logs/error.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${user.dir}/logs/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

      <!-- each file should be at most 20MB, keep 10 days worth of history, but at most 10GB -->
      <maxFileSize>20MB</maxFileSize>
      <maxHistory>10</maxHistory>
      <totalSizeCap>10GB</totalSizeCap>
    </rollingPolicy>

    <encoder>
      <pattern>[%-5level] %d %logger{15},%line [%thread] - %msg%n</pattern>
      <charset>UTF-8</charset> 
    </encoder>
  </appender>

  <appender name="OTHER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>DENY</onMatch>
      <onMismatch>NEUTRAL</onMismatch>
    </filter>

    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>DENY</onMatch>
      <onMismatch>ACCEPT</onMismatch>
    </filter>

    <file>${user.dir}/logs/other.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${user.dir}/logs/other.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

      <!-- each file should be at most 20MB, keep 10 days worth of history, but at most 10GB -->
      <maxFileSize>20MB</maxFileSize>
      <maxHistory>10</maxHistory>
      <totalSizeCap>10GB</totalSizeCap>
    </rollingPolicy>

    <encoder>
      <pattern>[%-5level] %d %logger{15},%line [%thread] - %msg%n</pattern>
      <charset>UTF-8</charset> 
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="INFO_FILE"/>
    <appender-ref ref="ERROR_FILE"/>
    <appender-ref ref="OTHER_FILE"/>
  </root>

</configuration>
