<!--可通过ch.qos.logback.classic.Level查看所有日志级别-->
<!--尽量避免使用相对路径，可通过{user.dir}使用绝对路径-->
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%-5level] %d %logger{15},%line [%thread] - %msg%n</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
